body{
    margin:0;
}
#mainheader{
    background-color:cadetblue;
    padding:5px;
    padding-left: 30px;
}
a{
    text-decoration: none;
    color: black;
    text-shadow: antiquewhite;
    text-align: center;
    font-weight: bold;
    padding-left: 25px;
}
#footer{
    font-family:-'Segoe UI', sans-serif;
    background-color:rgb(214, 244, 255); 
    margin: 0;
    padding: 0.25%;
    padding-left: 30px;
}