body{
    margin:0;
    font-family: 'Roboto';
}
#mainheader{
    background-color:darkslategray;
    padding:10px;
    padding-left: 30px;
    font-size: 1.05em;
}
a.nav{
    text-decoration: none;
    color: white;
    text-shadow: antiquewhite;
    text-align: center;
    font-weight: bold;
    padding-left: 25px;
}
.nav:hover{
    color: azure;
}
#footer{
    background-color:rgb(214, 244, 255); 
    margin: 0;
    padding: 0.25%;
    padding-left: 30px;
}
body video{
    margin-top: 5px;
    width: 100%;
    height:100%;
}
video{
    margin-bottom: 0;
}
article{
    margin: 0;
}
ul{
    margin:0;
}
li{
    margin:0;
}
body #map{
    width: 100%;
    height:500px;
}
#actions{
    background-color:darkslategrey;
}
#actionlist{
    list-style-type: none;
    color: white;
    line-height: 3;
    padding:20px;
    margin-top: none;
}
.action{
    text-decoration: none;
}

.actionli:hover{
    background-color: rgb(37, 58, 58);
    border-left: 0.2em solid white;
    
}
.actionli{
    padding-left: 20px;
}
body .img{
    float:left;
    width: 40%;
    vertical-align: middle;
    padding: 2%;
}
#trh1{
    text-align: center;
    margin:none;
}
#innav ul{
    list-style-type: none;
    margin:none;
    background-color: darkslategray;
    padding:1em;
}
.navd{
    text-decoration: none;
    color: white;
}
#innav ul li{
    padding:0.5em;
    padding-left: 2em;
}
#innav ul li:hover{
    background-color: rgb(37, 58, 58);
    border-left: 0.2em solid white;
}
body #Fjord,#East,#North,#Tron,#Sval{
    padding-left: 2em;
    padding:2em;
}
body .dheading{
    display:block;
    font-size: 3em;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
body .dsheading{
    display:block;
    font-size: 1.5em;
    font-family:monospace;
    padding:0.5em;
    font-weight: bold;
}
body .ddes{
    display:block;
    font-size:1.25em;
    font-family:monospace;
    font-style: italic;
}
body .imgd{
    width: 100%;
}
#trh1{
    font-family:'Times New Roman', Times, serif;
    font-size: 3em;
}
.servicelist{
    float:left;
    padding-right: 20px;
    margin: 1em;
    list-style-type: none;
    padding-top: 0.5em;
}
.underlist{
    list-style-type: none;
    float: left;
    padding-left: 10px;
}
.underlist li{
    float: left;
}
article{
    margin: none;
    padding: none;
}
body #flight{
    padding-left: 40%;
}
.triplist{
    padding:0.5em 0;
    color:grey;
}
.triplist a:hover{
    color: black;
}
body #hotelimg{
    width:100%;
}
.triplist a{
    text-decoration: none;
    color: grey;
}
