body{
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(248, 244, 229);
}
#mainheader{
    background-color:darkslategray;
    padding:5px;
    padding-left: 30px;
    font-size: medium;
}
a.nav{
    text-decoration: none;
    color: white;
    text-shadow: antiquewhite;
    text-align: center;
    font-weight: bold;
    padding-left: 25px;
}
#footer{
    font-family:-'Segoe UI', sans-serif;
    background-color:rgb(214, 244, 255); 
    margin: 0;
    padding: 0.25%;
    padding-left: 30px;
}
body video{
    width: 100%;
    height:100%;
}
video{
    margin-bottom: 0;
}
article{
    margin: 0;
}
ul{
    margin:0;
}
li{
    margin:0;
}
body #map{
    width: 100%;
    height:500px;
}
#actions{
    background-color:darkslategrey;
}
#actionlist{
    list-style-type: none;
    color: white;
    line-height: 3;
    padding:20px;
    margin-top: none;
}
.action{
    text-decoration: none;
}

.actionli:hover{
    background-color: rgb(37, 58, 58);
}
.actionli{
    padding-left: 30px;
}
